COGNITO_AWS_REGION="us-west-2"
COGNITO_USER_POOL_ID="myregion_myuserpoolid"
COGNITO_APP_CLIENT_ID="7a8b9c0d1e2f3g4h5i6j7k8"
COGNITO_CLIENT_SECRET="myapp-client-secret"
COGNITO_REQUIRED_SCOPE="api.mydomain.com/read"
COGNITO_TOKEN_URL="https://us-west-2xyz123.auth.us-west-2.amazoncognito.com/oauth2/token"
